<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Web Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link save-article" href="/save">Saved Articles</a>
      </li>
      <button type="button" class="btn btn-danger btn-sm">Scrape New Articles</button>
      
    </ul>
  </div>
</nav>

<div id="wrapper">

<div id="articles" class="articles-container">
{{#if articles}}

  <div class="row">
    <div class="col-sm-12"></div>
    {{#each articles}}
      <div class="col-sm-12" data-id="{{this._id}}">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                <div class="blue-text">{{title}}</div>
            </span>
            <a href="{{link}}" class="black-text">View Article</a>
            <p>{{summary}}</p>
          </div>
          <div class="card-action">
            <button class="orange-text btn-save" data-id="{{this._id}}">Save Article</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

{{else}}

  <div class="row">
    <div class="col-sm-12">
      <div class="card-panel text-center">
        <span>There are no Articles</span>
      </div>
    </div>
  </div>

{{/if}}







    
    {{!-- <div id="articles">
        <h3>Articles</h3>
        {{#each article}}
        <h5>{{title}}</h5>
        <p>{{summary}}</p>
        <a href="{{link}}">View Article</a>
        {{/each}}
    </div>
    <div id="notes"></div> --}}
</div>