<nav class="navbar navbar-expand-lg navbar-primary bg-light mb-3">
  <a class="navbar-brand text-dark" href="/">Web Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/save">Saved Articles</a>
      </li> --}}
      {{!-- <button type="button" class="btn btn-danger btn-sm">Scrape New Articles</button> --}}

    </ul>
  </div>
</nav>

<div id="wrapper">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title-row text-center">Saved Articles</h2>
    </div>
  </div>
  <div class="save-container">
    <div class="row">
      <div class="col-sm-12"></div>
      {{#each articles}}
      <div class="col-sm-12" data-id="{{this._id}}">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <div class="blue-text ml-1">{{title}}</div>
            </span>
            <a href="{{link}}" class="black-text ml-1">View Article</a>
            <p class="summary-text ml-1">{{summary}}</p>
          </div>
          <div class="card-action">
            <div id="{{_id}}notes">
            <button class="orange-text btn-notes btn-primary mb-1 ml-1" data-id="{{this._id}}">Notes</button>
            {{!-- <button class="orange-text btn-delete btn-primary mb-1 ml-1" data-id="{{this._id}}">Delete</button> --}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}

      
    </div>
  </div>
</div>